@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --primary-color: white;
  --main-color: #ff5e62;
  --black-color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of Common Styles */

/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0);
  position: relative;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 3rem;
  right: 10%;
  visibility: hidden;
  animation: fadeAnimationtitle 1s 0.7s forwards;
}
@keyframes fadeAnimationtitle {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.navbar-link {
  color: var(--primary-color);
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 2rem;
  display: inline-block;
  margin: 0 3rem;
  transition: transform 0.5s;
}

.navbar-link:hover {
  transform: scale(1.5);
}
/* End of Navbar */

/* Banner */
.section-1-banner {
  flex-direction: column;
  visibility: hidden;
  animation: fadeAnimationtitle 1s 0.5s forwards;
}
@keyframes fadeAnimationtitle {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.section-1-banner h1 {
  color: var(--primary-color);
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 13rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.section-1-banner p {
  color: var(--primary-color);
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  margin: 6rem 0 4rem 0;
}
/* End of Banner */

/* Slideshow */
.slideshow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slideshow div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 5s;
}

.slideshow div.change {
  opacity: 1;
}
/* End of Slideshow */
/* End of Section 1 */

/* Section 2 */
.section-2 {
  height: 20vh;
  display: flex;
  flex-direction: column;
  margin: 3% 20%;
  padding-bottom: 5%;

}

.section-2 h4{
  font-size: x-large;
  color: var(--main-color);
  margin-bottom: 2%;
  text-align: center;
}

.section-2 p{
  font-size: x-large;
  text-align: justify;
  margin-bottom: 2%;
}
/* End of Section 2 */

/* Section 3 */
.section-3{
  height: 110vh;
  /*background: #ff9966;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(rgba(3, 3, 3, 0.704), rgba(255, 94, 98, 0.3)),url(./images/section-3-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
  opacity: 0.8;
}

.section-3 h4{
  font-size: x-large;
  color: white;
  margin-bottom: 1%;
  text-align: center;
}

.section-3 p{
  font-size: x-large;
  text-align: justify;
  max-width: 50%;
  margin-bottom: 1%;
}
/* End of Section 3*/

/* Section 4 */
.section-4{
  height: 10vh;
   display: flex;
  flex-direction: column;
  margin: 5% 25%;
}

.section-4 h4{
  font-size: x-large;
  color: var(--main-color);
  margin-bottom: 1%;
  text-align: center;
}

.section-4 p{
  font-size: x-large;
  text-align: justify;
}
/* End of Section 4 */

/* Section 5 */
.section-5 {
  background-color: var(--black-color);
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0);
  position: relative;
}

.slides{
  height: 30vh;
  margin-top: 8rem;
  margin-bottom: 3rem;
}
  /* End of Section 5 */

  /* Section 6 */
.section-6 {
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  /* End of Section 6 */

/* Vídeo */
.stories {
  position: relative;
  height: 80vh;
  box-shadow: 0 1rem 2rem gray;
  overflow: hidden;
  font-size: 3em;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-bg {
  display: flex;
  background-color: var(--main-color);
  justify-content: center;
}

.story {
  display: flex;
  justify-content: center;
}

.story-text {
  letter-spacing: 0.1rem;
}

.story-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--grey-color);
  margin: 25%
}

.story-paragraph {
  font-size: 1.8rem;
  color: var(--light-grey-color);
}

.story-paragraph::first-letter {
  margin-left: 1rem;
}
/* End of Video */

.local{
  font-size: x-large;
  color: var(--main-color);
  margin-bottom: 1%;
  margin-left: 3%;
}

/* Section Map */

.section-6 .phone{
  text-align: end;
  margin-top: 3%;
  margin-right: 3%;
  font-size: 5em;
}

.phone:first-child{
  font-size: x-large;
  margin-bottom: 2%;
  text-align: center;
}

.map {
  width: 100%;
  height: 450px;
  margin-top: 5%;
}

.map iframe {
  width: 100%;
}
/* End of Map */

/* Footer */
footer {
  background: #0b171f;
  padding: 3%;
  font-size: 12px;
  color: var(--main-color);
  margin-top: 3%;
  text-align: center;
}
/* End of Footer */


/* Responsive */
@media (max-width: 1500px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 40%;
  }
}

@media all and (max-width: 500px) {
  .section-2 {
    height: 50vh;
  }
  .section-2 p{
    text-align:center;
  }
}

@media all and (max-width: 667px) {
  .section-2 {
    height: 70vh;
  }
}

@media all and (max-width: 500px) {
  .section-3 {
    height: 180vh;
  }
  .section-3 p{
    text-align:center;
  }
}

@media all and (max-width: 500px) {
  .section-4 {
    height: 25vh;
  }
  .section-4 p{
    text-align:center;
  }
}
@media all and (max-width: 667px) {
  .section-4 {
    height: 40vh;
  }
}

@media all and (max-width: 500px) {
  .section-5 {
    height: 500vh;
  }
}

@media all and (max-width: 667px) {
  .section-5 {
    height: 400vh;
  }
}

@media (max-width: 550px) {
  .navbar-link {
    margin: 0 1.0rem;
  }
}

@media all and (max-width: 500px) {
  footer {
    margin-top: 8%;
  }
/* End of Responsive */


/* Photo galery */
a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox__container {
  flex-direction: column-reverse;

  --fancybox-color: #0d0c22;
  --fancybox-bg: #fff;

  --fancybox-thumbs-width: 80px;
  --fancybox-thumbs-ratio: 4 / 3;

  --carousel-button-bg: #f3f3f4;
  --carousel-button-border-radius: 8px;

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;

  --carousel-button-svg-stroke-width: 1.5;
  --carousel-button-svg-filter: none;
}

.carousel__button.is-close {
  top: 36px;
  right: 26px;
  z-index: 30;
}

.carousel__button.is-close:hover {
  background: #e7e7e9;
}

.fancybox__slide {
  padding-top: 1.25rem;
}

/**
*  Thumbnails
*/

.fancybox__thumbs {
  padding: 0 100px 0 26px;
  border-bottom: 2px solid #f3f3f4;
}

/* Align thumbnails on right side if not draggable */
.fancybox__thumbs:not(.is-draggable) .carousel__track {
  justify-content: flex-end;
}

.carousel__slide.has-thumb {
  padding: 30px 7px;
}

.fancybox__thumb {
  border-radius: 4px;
  background-color: #e7e7e9;
}

.is-nav-selected .fancybox__thumb {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ea4c89;
}

.is-nav-selected .fancybox__thumb::after {
  display: none;
}
}

/* End of Photo galery*/
